# Python virtual environment
.venv/
venv/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Scratch directory
scratch/

# OS specific files
.DS_Store
Thumbs.db
